body {
  padding: 25px;
}

h1 {
  margin-top: -10px;
}

li {
  list-style-type: none;
}
li:first-letter {
  text-transform: capitalize;
}

footer {
  font-size: 13px;
  font-weight: 200;
  margin: 0 auto;
  max-width: 85%;
}
a {
  text-decoration: none;
}
.weather-app {
  margin: 25px auto;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 85%;
}

.first-list {
  margin-left: 15px;
  margin-top: 40px;
  padding-left: 0;
  background-color: #ececec;
  max-width: 90%;
  height: 90%;
  border-radius: 40px;
  text-align: center;
}
.navbar {
  border-radius: 20px;
}
.celsiusSymbol {
  font-size: 25px;
}
.second-list {
  margin-top: 30px;
}
.form-control {
  max-width: 100%;
}

.bg-body-tertiary {
  flex-wrap: nowrap;
  width: 75%;
  margin: 15px auto;
  padding-right: 10px;
}

.temp {
  font-size: 48px;
  margin-top: -25px;
  margin-bottom: 0;
}
.feels-like {
  font-size: 27px;
  margin-top: -15px;
  font-weight: 300;
}

.place-of-search {
  font-size: 40px;
  margin-top: -15px;
  font-weight: 600;
}
.time {
  font-size: 20px;
  margin-top: 10px;
}

.todays-date {
  font-size: 20px;
  margin-top: -5px;
  margin-left: 3px;
  margin-bottom: 50px;
}

.location-button {
  font-size: 15px;
  padding: 7px 11px;
  margin: 10px;
  border-radius: 7px;
  border: 1px solid #198754;
  color: #198754;
  background: none;
}
.current-button {
  font-size: 15px;
  padding: 7px 11px;
  margin: 10px;
  border-radius: 7px;
  border: 1px solid #198754;
  color: #198754;
  background: none;
}
.conversion-button {
  font-size: 15px;
  border-radius: 7px;
  border: 1px solid #198754;
  color: #198754;
  background: none;
  margin: 0 auto;
  padding: 7px 11px;
  text-align: center;
  width: 90px;
}

.active {
  color: red;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin: 20px;
  margin-left: -5px ;
  text-align: center;
}
.weather-forecast-date {
  font-size: 20px;
}
.weather-forecast-temperatures {
  font-size: 22px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}
