html,
body {
  padding: 25px;
  max-width: 100%;
  max-height: 100%;
}
body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/071/476/original/white-rainforest-AIIJhPKT4zk-unsplash.jpg?1678737973);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}
h1 {
  margin-top: -10px;
}

li {
  list-style-type: none;
}
li:first-letter {
  text-transform: capitalize;
}

footer {
  font-size: 25px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 85%;
  color: #d01362;
  font-family: "Tangerine", cursive;
}
a {
  text-decoration: none;
}

.weather-app {
  margin: 25px auto;
  border: 3px solid #edcbdd;
  border-radius: 10px;
  max-width: 85%;
}

.first-list {
  margin-left: 15px;
  margin-top: 45px;
  padding-left: 0;
  background-color: #edcbdd;
  max-width: 70%;
  height: 95%;
  border-radius: 40px;
  text-align: center;
}
.temp {
  font-size: 50px;
  margin-top: -40px;
  margin-bottom: 0;
}
.feels-like {
  font-size: 35px;
  margin-top: -15px;
  font-weight: 500;
  font-family: "Tangerine", cursive;
}

.place-of-search {
  font-size: 55px;
  margin-top: -15px;
  font-weight: bold;
  font-family: "Tangerine", cursive;
}
.time {
  font-size: 20px;
  margin-top: -5px;
}

.todays-date {
  font-size: 20px;
  margin-top: -5px;
  margin-left: 3px;
  margin-bottom: 60px;
  padding-bottom: 10px;
}
.month {
  font-family: "Tangerine", cursive;
}

.navbar {
  border-radius: 20px;
}
.celsiusSymbol {
  font-size: 25px;
}
.second-list {
  margin-top: 30px;
  font-size: 20px;
}
.wind {
  font-family: "Tangerine", cursive;
  font-size: 30px;
}
.humidity {
  font-family: "Tangerine", cursive;
  font-size: 30px;
}
.form-control {
  max-width: 100%;
  background-color: #f9ecec;
}

.bg-body-tertiary {
  flex-wrap: nowrap;
  width: 75%;
  margin: 15px auto;
  padding-right: 10px;
  background-color: #d01362;
}

.location-button {
  font-size: 20px;
  padding: 7px 11px;
  margin: 10px;
  border-radius: 7px;
  border: 1px solid #d01362;
  color: #d01362;
  background: none;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  width: 90px;
}
.location-button:hover {
  border: 1px solid #0062ca;
}
.current-button {
  font-size: 20px;
  padding: 7px 11px;
  margin-right: 10px;
  border-radius: 7px;
  border: 1px solid #d01362;
  color: #d01362;
  background: none;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  width: 90px;
}
.current-button:hover {
  border: 1px solid #0062ca;
}
.conversion-button {
  font-size: 15px;
  border-radius: 7px;
  border: 1px solid #d01362;
  color: #d01362;
  background: none;
  margin: 0 auto;
  padding: 7px 11px;
  text-align: center;
  width: 90px;
  height: 47px;
  font-family: "Tangerine", cursive;
  font-weight: 500;
}
.conversion-button:hover {
  border: 1px solid #0062ca;
}
.active {
  color: #d01362;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: #0062ca;
}
.weather-forecast {
  margin: 20px;
  margin-left: -5px;
  text-align: center;
  font-family: "Tangerine", cursive;
}
.weather-forecast-date {
  font-size: 30px;
}
.weather-forecast-temperatures {
  font-size: 22px;
  font-family: sans-serif;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}
.flex-box {
  display: flexbox;
  flex-direction: row;
}
