body {
  padding: 25px;
}

h1 {
  margin-top: -10px;
}

li {
  list-style-type: none;
}

footer {
  font-size: 13px;
  font-weight: 100;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.weather-app {
  margin: 25px auto;
  border: 1px solid black;
  border-radius: 15px;
  max-width: 65%;
  height: 500px;
}

.first-list {
  margin-left: 10px;
  margin-top: 40px;
  background-color: #ececec;
  max-width: 80%;
  height: 90%;
  border-radius: 20%;
}
.celciusSymbol {
  font-size: 25px;
}
.second-list{
  margin-top: 30px;
}
.bg-body-tertiary {
  flex-wrap: nowrap;
  width: 55%;
  margin: 7px;
  margin-right: 25px;
  padding-right: 20px;
}
.form-control {
  width: 100%;
}
.temp {
  font-size: 48px;
  margin-top: -25px;
  margin-bottom: 0;
}
.feels-like {
  font-size: 32px;
  margin-top: -15px;
}

.place-of-search {
  font-size: 40px;
  margin-top: -15px;
}
.time {
  font-size: 20px;
  margin-top: 10px;
}

.todays-date {
  font-size: 20px;
  margin-top: -5px;
  margin-left: 3px;
  margin-bottom: 50px;
}

.location-button {
  font-size: 15px;
  padding: 7px 11px;
  margin: 10px;
  border-radius: 7px;
  border: 1px solid #198754;
  color: #198754;
  background: none;
}
